<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}" >
    <script type="text/javascript" th:src="@{js/tether.js}" ></script>
    <script type="text/javascript" th:src="@{js/jquery-1.11.2.min.js}" ></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}" ></script>
</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Register</h3>
    </div>
</div>

<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body">
            <p><img th:src="@{'/upload/'+${user.header.originalFilename}}" /> </p>
            <p th:text="${user.name}"></p>
            <p><a th:href="@{download(filename=${user.header.originalFilename})}" >下载</a> </p>
        </div>
    </div>
</div>
</body>
</html>