<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}" >
    <script type="text/javascript" th:src="@{js/tether.js}" ></script>
    <script type="text/javascript" th:src="@{js/jquery-1.11.2.min.js}" ></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}" ></script>
</head>
<body>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">第一个Spring Boot Web开发示例</h3>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">图书列表</h3>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <a href=""><img th:src="@{img/java.jpg}" alt="图片" /> </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href=""><img th:src="@{img/java.jpg}" alt="图片" /> </a>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <a href=""><img th:src="@{img/java.jpg}" alt="图片" /> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>